<div class="row">

    <div class="col-3">
        <!-- aseta category arvo, jota ProductFilterComponent käyttää -->
        <app-product-filter [category]="category"></app-product-filter>
    </div>
    
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let p of filteredProducts; let i = index">
                <div class="col">
                    <!-- aseta product arvo, jota ProductCardComponent käyttää   -->
                    <app-product-card [product]="p"></app-product-card>
                </div>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
    
</div>